.blue-background {
  background-color: #007bff; /* Blue color from Bootstrap's default theme */
  color: #fff; /* White text color for better contrast */
}

.small-line {
  border-color: #e6e6e6;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0; /* Adjust margin as needed */
}

/* Increase specificity */
.form-check.form-switch .form-check-input:checked {
  background-color: #1cc417; /* Change to desired color */
  border-color: #1cc417; /* Change to desired color for the switch border */
}

.form-check.form-switch .form-check-input:not(:checked) {
  background-color: #1cc417; /* Change to desired color */
  border-color: #1cc417; /* Change to desired color for the switch border */

}

/* Apply underline only to buttons with the button-as-text class and the active class */
.button-as-text.active {
  text-decoration: underline;
}

/* Apply white color to buttons with the button-as-text class and the active class */
.button-as-text.active-white {
  color: white;
}

/* Apply blue color to buttons with the button-as-text class and not the active class */
.button-as-text:not(.active) {
  color: blue;
}

.button-as-text {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;

}

.custom-text-right {
  text-align: right;
}
