<div class="container-fluid-flex row">
  <!--list header-->

  <div class="colorscheme">
    <div class="row">
      <!-- Left Section -->
      <div class="col">
        <div class="row p-1">
          <!-- Left Column Header -->
          <div class="col-12 text-center meta-font">
            <h5 class="column-header">Data hentning</h5>
          </div>

          <!-- Left Column Data -->
          <div class="col meta-font">
            <div class="row ">
              <div class="col-6 header-text">Tidsforbrug:</div>
              <div class=" col-6 header-value">{{ weatherDateCollection?.DataCollectedTime }}</div>
            </div>
            <div class="row ">
              <div class="col-6 header-text">Hentet data:</div>
              <div class="col-6 header-value">{{ weatherDateCollection?.DataAmount }}</div>
            </div>
          </div>
          <div class="col-1 verticalLineContainer">
            <div class="verticalLine"></div>
          </div>

          <div class="col meta-font">
            <div class="row ">
              <div class="col-6 header-text">Ram brugt:</div>
              <div class=" col-6 header-value">{{ weatherDateCollection?.RamUsage }}</div>
            </div>
            <div class="row ">
              <div class="col-6 header-text">Cpu brugt:</div>
              <div class="col-6 header-value">{{ weatherDateCollection?.CPUUsage }} %</div>
            </div>
          </div>

        </div>
      </div>

      <!-- Middle Section -->
      <div class="col-md-2 meta-font centerText">
        <h2>MetaData</h2>
      </div>

      <!-- Right Section -->
      <div class="col centerText">
        <div class="row">
          <!-- Right Column Header -->
          <div class="col-12 text-center meta-font">
            <h5 class="column-header">Data behandling</h5>
          </div>

          <!-- Right Column Data -->
          <div class="col">
            <!-- Second header -->
            <div class="row ">
              <h6 class="col-md-12 meta-font">
                <div class="row">
                  <div class="col header-text text-left" style="text-align: right;">
                    Tidsforbrug:
                  </div>
                  <div class="col header-value " style="text-align: left;">
                    {{ weatherDateCollection?.ConvertionTimer }}
                  </div>


                </div>
              </h6>
            </div>

            <div class="col meta-font">
              <!-- Fourth header -->
              <div class="row text-center">
                <!-- Third header -->
                <div class="col meta-font">
                  <div class="row ">
                    <div class="col-6 header-text">Ram brugt:</div>
                    <div class=" col-6 header-value">{{ weatherDateCollection?.ConvertionRamUsage }}</div>
                  </div>

                </div>

                <div
                  class="col-1 verticalLineContainer Left"
                  style="margin-left: 10px"
                >
                  <div class="verticalLine"></div>
                </div>

                <div class="col meta-font">
                  <div class="row ">
                    <div class="col-6 header-text">Cpu brugt:</div>
                    <div class=" col-6 header-value">{{ weatherDateCollection?.ConvertionCpuUsage }} %</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row no-padding" *ngIf="weatherDateCollection != null" >
    <!--header for showing lists-->
    <div class="container-fluid-flex colorscheme " >
      <div class="" *ngIf="!cardviewToogle">
        <div class="row " style="margin-right: 6px;">
          <div class="col-md-4 ">
            <div class="row">
              <div class="col-3 border border-grey header centerText">Tidspunkt (zulu)</div>
              <div class="col-9 border border-grey header centerText">Adresse</div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="row">
              <div class="col border border-grey header nowrap">Breddegrad</div>
              <div class="col border border-grey header nowrap">Længdegrad</div>
              <div class="col border border-grey header centerText">Temp (C)</div>
              <div class="col border border-grey header centerText">Vind (m/s)</div>
              <div class="col border border-grey header centerText">Vind (grader)</div>
              <div class="col border border-grey header centerText">Vindstød (m/s)</div>
              <div class="col border border-grey header centerText">Luftfugtighed (%)</div>
              <div class="col border border-grey header centerText">Regn (mm)</div>
              <div class="col border border-grey header centerText">Sol/GTI (w/m2)</div>
              <div class="col border border-grey header centerText">Sol højdegrader</div>
              <div class="col border border-grey header centerText ">Sol Azimuth grader</div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      #uiElement
      class="container scroll scrollbar"
      *ngIf="!cardviewToogle"
      (scroll)="OnScroll()"
    >
      <!--content of lists-->
      <ng-container *ngFor="let metaItem of weatherDateCollection.Dailyweather">
        <app-list-element
          class="row"
          [dataSource]="metaItem"
        ></app-list-element>
      </ng-container>
      <div *ngIf="isLoading">
        Indlæser...
    </div>
    </div>

    <div
      #uiElement
      class="container scroll scrollbar"
      (scroll)="OnScroll()"
      *ngIf="cardviewToogle"
    >
      <div class="row cardAlign">
        <ng-container *ngFor="let data of weatherDateCollection.Dailyweather">
          <!-- card view -->
          <app-card-element
            class="col p-1"
            [dataSource]="data"
          ></app-card-element>
        </ng-container>
        <div *ngIf="isLoading">
          Indlæser...
      </div>
      </div>
    </div>
  </div>
</div>
