





.header{

  font-size: 13px;
  color: white;

  padding: 5px;

  min-width: 80px;
  min-height: 55px;
}

.nowrap{
  white-space: nowrap;
}

.centerText{
  text-align: center;
  align-items: center;
  justify-content: center;
}



.scroll{
  overflow-y: auto;
  max-height:81vh;

}

.metadata{
  height: 100px;
}

.meta-font
{
  color: white;
  text-wrap: nowrap;
}

.verticalLineContainer {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  /* padding: auto; */
}

.verticalLine {
  border-left: 1px solid rgb(187, 187, 187); /* Adjust color and thickness as needed */
  height: 80%; /* Set height to 100% to fill container vertically */

}

.cardAlign{
  margin-left: -15px;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0px;

}



.scrollbar{
  overflow-y: scroll;
}

.header-text {
  font-weight: bold;
}

.header-value {
  color: rgb(255, 255, 255);
}
