





.header{

  font-size: 13px;
  color: white;
  background-color: blue;
  padding: 5px;

  min-width: 50px;
  min-height: 55px;
}

.nowrap{
  white-space: nowrap;
}

.centerText{
  text-align: center;
  align-items: center;
  justify-content: center;
}



.scroll{
  overflow-y: auto;
  max-height:100vh;
}
