<div class="row">
  <div class="col-1 border textstyle location">{{ dataSource.TimeOfDay | date: 'yyyy-MM-dd HH:mm' }}</div>
  <div class="col-2 border textstyle location">{{ locationSource.Address }} {{locationSource.ZipCode}} {{locationSource.City}}</div>
  <div class="col-1 border textstyle location">{{ locationSource.Laditude }}</div>
  <div class="col-1 border textstyle location">{{ locationSource.Longitude }}</div>
  <div class="col-1 border textstyle location">{{ dataSource.Temperature }}</div>
  <div class="col-1 border textstyle location">{{ dataSource.WindSpeed }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.WindDirection }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.WindGusts }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.RelativeHumidity }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.Rain }}</div>
  <div class="col-1 border textstyl ">{{ dataSource.GTI }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.SunElevationAngle }}</div>
  <div class="col-1 border textstyle ">{{ dataSource.SunAzimuthAngle }}</div>
</div>


