/* You can add global styles to this file, and also import other style files */
/*
@import "~bootstrap/dist/css/bootstrap.css"; */
.colorscheme
{
  background-color: #0085FC;
}
.btn.colorscheme {
  background-color: #005CBF; /* Darker shade of blue */
  border-color: #005CBF;
  color: #FFFFFF;
}

.btn.colorscheme:hover {
  background-color: #007AFF; /* Lighter shade on hover */
  border-color: #007AFF;
}
