/* card.component.css */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;

/* width: 300px; */
  /* margin: 1px; */
  padding: 4px;
  background-color: #fff;
  max-width: 210px;

  /* height: 280px; */
}



.card-header {
  font-weight: bold;
/* background-color: blue; */
  color: white;
}

.label{
  font-weight: bold;
  color: grey;
font-size: 12px;
white-space: nowrap;
}

.bodytext{
  font-size: 12px;

}

.card-title{
  font-size: large;
 white-space: nowrap;
}


.card-title-minor{
  font-size: small;
  white-space: nowrap;
  color: white;
}
